<% layout('admin/layoutAdmin') %>

<div class="cards">
  <div class="card">
    <i class="fa fa-cake"></i>
    <h2><%= totalProdutos %></h2>
    <p>Produtos cadastrados</p>
    <a href="/admin/produtos" class="btn">Ver Produtos</a>
  </div>

  <div class="card">
    <i class="fa fa-list"></i>
    <h2><%= totalCategorias %></h2>
    <p>Categorias cadastradas</p>
    <a href="/admin/categorias" class="btn">Ver Categorias</a>
  </div>

  <div class="card">
    <i class="fa fa-box"></i>
    <h2><%= totalPedidos %></h2>
    <p>Pedidos realizados</p>
    <a href="/admin/pedidos" class="btn">Ver Pedidos</a>
  </div>
</div>
