<% layout('admin/layout', { titulo: 'Dashboard', usuario }) %>

<h1>Dashboard</h1>
<div class="cards">
  <div class="card">
    <i class="fa fa-box"></i>
    <h2>Pedidos</h2>
    <p>0 pedidos esta semana</p>
  </div>
  <div class="card">
    <i class="fa fa-cake"></i>
    <h2>Produtos</h2>
    <p>10 produtos cadastrados</p>
  </div>
  <div class="card">
    <i class="fa fa-list"></i>
    <h2>Categorias</h2>
    <p>5 categorias cadastradas</p>
  </div>
</div>
