<h1>Relatórios</h1>

<h2>Produtos por Categoria</h2>
<table>
  <thead>
    <tr>
      <th>Categoria</th>
      <th>Total de Produtos</th>
    </tr>
  </thead>
  <tbody>
    <% if (relatorioProdutos && relatorioProdutos.length > 0) { %>
      <% relatorioProdutos.forEach(item => { %>
        <tr>
          <td><%= item.categoria %></td>
          <td><%= item.total_produtos %></td>
        </tr>
      <% }) %>
    <% } else { %>
      <tr>
        <td colspan="2">Nenhum dado disponível</td>
      </tr>
    <% } %>
  </tbody>
</table>
