<header class="navbar">
  <div class="navbar-container">
    <a href="/loja" class="logo">Lu Doces</a>

    <nav>
      <ul class="nav-links">
        <li><a href="/loja">Home</a></li>
        <li><a href="/loja/produtos">Produtos</a></li>
        <li><a href="/loja/categorias">Categorias</a></li>
      </ul>
    </nav>

    <div class="perfil-menu">
      <img src="/imagens/image.png" alt="Perfil" class="perfil-foto" />
      <ul class="perfil-dropdown">
        <li><a href="/loja/perfil"><i class="fa-solid fa-user"></i> Meu Perfil</a></li>
        <li><a href="/loja/pedidos"><i class="fa-solid fa-box"></i> Meus Pedidos</a></li>
        <li><a href="/loja/carrinho"><i class="fa-solid fa-cart-shopping"></i> Meu Carrinho</a></li>
        <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Sair</a></li>
      </ul>
    </div>
  </div>
</header>
