<nav>
  <ul>
    <li><a href="/admin">Dashboard</a></li>
    <li><a href="/admin/produtos">Produtos</a></li>
    <li><a href="/admin/categorias">Categorias</a></li>
    <li><a href="/admin/pedidos">Pedidos</a></li>
    <li><a href="/admin/relatorios">Relatórios</a></li>
    <li><a href="/logout">Sair</a></li>
  </ul>
</nav>
<hr>
