<div class="navbar-loja">
  <div class="navbar-left">
    <a href="/loja" class="logo">TiaLuDoces</a>
    <a href="/loja" class="nav-link">Produtos</a>

    <% if (usuario) { %>
      <a href="/loja/pedidos" class="nav-link">Meus Pedidos</a>
    <% } %>

    <% if (usuario && usuario.tipo_usuario_id === 1) { %>
      <a href="/admin" class="nav-link">Admin</a>
    <% } %>
  </div>

  <div class="navbar-right">
    <% if (usuario) { %>
      <span class="nav-user">Olá, <%= usuario.nome %></span>
      <a href="/logout" title="Sair" class="nav-icon">
        <i class="fa-solid fa-right-from-bracket"></i>
      </a>
    <% } else { %>
      <a href="/login" title="Login" class="nav-icon">
        <i class="fa-solid fa-user"></i>
      </a>
    <% } %>

    <a href="/loja/carrinho" title="Carrinho" class="nav-icon">
      <i class="fa-solid fa-bag-shopping"></i>
    </a>
  </div>
</div>
