<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>Bem-vinda à Confeitaria</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet" />
</head>
<body>
  <div class="container">
    <h1>"Página inicial"</h1>
    
    <div class="buttons">
      <a href="/login" class="btn">Entrar</a>
      <a href="/registro" class="btn btn-outline">Registrar-se</a>
    </div>
  </div>
</body>
</html>
