<%- include('../../partials/navAdm') %>

<h1>Nova Categoria</h1>

<form method="POST" action="/admin/categorias/novo">
  <label>Nome:</label>
  <input type="text" name="nome" required><br>
  <button type="submit">Salvar</button>
</form>
